.placeholderbtn::placeholder {
  color:white;
}
.dropdown-menu.show {
  display: flex;
  width: 420px;
  flex-wrap: wrap;
}
.dropdown-item {
  width: 33%;
  overflow: hidden;
  text-overflow: ellipsis; 
}

