@charset "UTF-8";
/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans/dm-sans.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans/dm-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans/dm-sans.woff2") format("woff2"), url("../fonts/dm-sans/dm-sans.woff") format("woff"), url("../fonts/dm-sans/dm-sans.ttf") format("truetype"), url("../fonts/dm-sans/dm-sans.svg") format("svg");
  /* Legacy iOS */
}
/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: "DM Sans", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}
/* @mixin typography($font-family,$font-size,$font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
@mixin display($display,$direction) {
  display:$display;
  flex-direction: $direction;
}*/
/* /* 

/* variables ripple */
/* $num-ripple: 5;
$anim-dur: 3s;
$anim-delay: -0.6s;
/* couleurs */
/*
$cd-secondary:#FF79DA;*/
/*
$cd-grey:#eaeaea;
$--gradient: linear-gradient(90deg,white,$cd-primary,$cd-secondary);
$button-gradient:linear-gradient(175deg, $cd-secondary 5%,$cd-primary 100%);
$button-gradient--hover:linear-gradient(175deg,$cd-primary 5%, $cd-secondary 100%);
/* shadows */
/* $box-shadow: 0px 5px 18px -3px darken($cd-grey, 30%);
$box-shadow--hover: 0px 5px 22px -3px darken($cd-grey, 50%);
$box-shadow--searchbar: inset 0px 5px 5px 0px darken($cd-grey, 10%);
$box-shadow--sticker--restaurant: 0px 5px 18px -3px darken($cd-grey, 30%);
/* liste */
/* $restaurants: "lapalette", "lanote", "franc","delice"; */
.dropdown {
  position: absolute;
  left: 85px;
  z-index: 1;
}
.dropdown__content {
  display: flex;
  flex-direction: column;
  background-color: #911C1C;
  width: 170px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.57);
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown__content:hover .dropdown__content__sub {
  display: block;
}
.dropdown__content:hover .dropdown__content__link {
  border-bottom: white solid;
  border-width: thin;
}
.dropdown__content:hover .delborder {
  border-bottom: hidden;
}
.dropdown__content:hover .arrow::after {
  transform: rotate(-180deg);
}
.dropdown__content:focus-within .dropdown__content__sub {
  display: block;
}
.dropdown__content:focus-within .dropdown__content__link {
  border-bottom: white solid;
  border-width: thin;
}
.dropdown__content:focus-within .delborder {
  border-bottom: hidden;
}
.dropdown__content:focus-within .arrow::after {
  transform: rotate(-180deg);
}
.dropdown__content__link {
  text-decoration: none;
  color: white;
  padding: 16px;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
}
.dropdown__content__sub {
  display: none;
}

.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.arrow::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-left: 15px;
}

.article {
  margin-left: 80px;
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.article__header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media all and (max-width: 920px) {
  .article__header {
    display: none;
  }
}
.article__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-right: 30px;
}
.article__dropdown {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: #911C1C;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.article__btn {
  background: #911C1C;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-left: 6.25rem;
  justify-content: space-between;
}
@media all and (max-width: 1150px) {
  .header {
    font-size: 10px;
  }
}
@media all and (max-width: 1036px) {
  .header {
    justify-content: center;
    margin-left: 0;
  }
}
@media all and (max-width: 1022px) {
  .header {
    font-size: 8px;
  }
}

.cardlist {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.body {
  width: auto;
  height: auto;
}

.photographer {
  position: relative;
  width: auto;
  padding-bottom: 100px;
}

.header-photographer {
  margin-left: 80px;
  margin-right: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media all and (max-width: 550px) {
  .header-photographer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.article {
  margin-right: 80px;
}
@media all and (max-width: 550px) {
  .article {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.article-Gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
}
@media all and (max-width: 925px) {
  .article-Gallery {
    flex-direction: column;
    margin-top: 50px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  border: none;
  width: 32%;
  height: 350px;
  cursor: pointer;
}
@media all and (max-width: 925px) {
  .gallery {
    width: 100%;
  }
}
.gallery:hover {
  border: 1px solid #777;
}
.gallery img {
  bottom: 60px;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery video {
  height: 100%;
  bottom: 60px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.desc {
  text-align: center;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  padding-right: 5px;
  padding-left: 5px;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.likes i {
  margin-left: 5px;
}

.pricelikes {
  justify-content: space-between;
}

.image-1 {
  width: auto;
  padding: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  overflow: hidden;
  background-image: url(/images/Mimi/Animals_Rainbow.jpg);
}

.likes-heart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
}
.slider__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 90%;
}
.slider__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: none;
}
.slider__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #911C1C;
  align-self: flex-start;
  margin-top: 1%;
}
.slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.slider video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.fa-chevron-left {
  display: flex;
  position: absolute;
  left: 7%;
  font-size: 200%;
  font-weight: 900;
  color: #911C1C;
  cursor: pointer;
}
@media all and (max-width: 400px) {
  .fa-chevron-left {
    left: 5%;
  }
}

.fa-chevron-right {
  display: flex;
  position: absolute;
  font-size: 200%;
  right: 7%;
  font-weight: 900;
  color: #911C1C;
  cursor: pointer;
}
@media all and (max-width: 400px) {
  .fa-chevron-right {
    right: 5%;
  }
}

.closeSlider:before,
.closeSlider:after {
  position: absolute;
  right: 8%;
  top: 5%;
  content: " ";
  height: 3.5%;
  width: 0.25%;
  background-color: #911C1C;
  cursor: pointer;
}
@media all and (max-width: 400px) {
  .closeSlider:before,
.closeSlider:after {
    right: 6%;
  }
}

.closeSlider:before {
  transform: rotate(45deg);
}

.closeSlider:after {
  transform: rotate(-45deg);
}

.med {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.bground {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}

.content {
  z-index: 2;
  margin: 5% auto;
  width: 669px;
  height: 900px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  background: #DB8876;
  border-radius: 5px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
  filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
}
.content p {
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  color: black;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #911C1C;
  height: 69px;
  width: 170px;
  margin: 0;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  padding: 4px;
}

label {
  color: black;
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
  width: 100%;
}
input:focus {
  border: 0.8px solid blue;
}

textarea {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
}
textarea:focus {
  border: 0.8px solid blue;
}

.modal-header {
  margin-bottom: 15px;
}

.pricelikes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  right: 5%;
  bottom: 0%;
  background: #DB8876;
  border-radius: 5px;
  height: 45px;
  width: 300px;
  border-radius: 5px;
}
@media all and (max-width: 1030px) {
  .pricelikes {
    display: none;
  }
}
.pricelikes i {
  margin-left: 5px;
}

.titre {
  display: flex;
  justify-content: center;
  font-weight: normal;
  width: 306px;
  height: 47px;
  top: 35px;
  font-size: 36px;
  line-height: 47px;
  color: #911C1C;
  margin-bottom: 0px;
}
@media all and (max-width: 1150px) {
  .titre {
    font-size: 30px;
  }
}
@media all and (max-width: 1036px) {
  .titre {
    order: 1;
    width: 50%;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 525px) {
  .titre {
    font-size: 20px;
  }
}
@media all and (max-width: 360px) {
  .titre {
    font-size: 15px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  left: 27.29%;
  right: 35.83%;
  top: 5%;
  bottom: 92.48%;
  margin-bottom: 5px;
}
@media all and (max-width: 1036px) {
  .nav {
    width: 100%;
    order: 2;
  }
}
@media all and (max-width: 525px) {
  .nav {
    flex-wrap: wrap;
  }
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin: inherit;
}
@media all and (max-width: 525px) {
  .nav ul {
    flex-wrap: wrap;
  }
}
.nav li {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 5px;
  padding: 5px;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  color: #901C1C;
  background-color: #FFFFFF;
}
@media all and (max-width: 1036px) {
  .nav li {
    margin-top: 5px;
  }
}
.nav li:hover {
  background-color: #911C1C;
}
.nav li:hover:before {
  color: #FFFFFF;
}
.nav li:hover a {
  color: #FFFFFF;
}
.nav li:focus {
  background-color: #911C1C;
}
.nav li:focus:before {
  color: #FFFFFF;
}
.nav li:focus a {
  color: #FFFFFF;
}
.nav li:before {
  content: "#";
  color: #901C1C;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.nav a {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  color: #901C1C;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 1150px) {
  .nav a {
    font-size: 9px;
  }
}
@media all and (max-width: 1036px) {
  .nav a {
    font-size: 12px;
  }
}
@media all and (max-width: 300px) {
  .nav a {
    font-size: xx-small;
  }
}

.nav_panel {
  justify-content: normal;
}
.nav_panel ul {
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
}
@media all and (max-width: 350px) {
  .nav_panel li {
    padding: 2px;
  }
}
@media all and (max-width: 400px) {
  .nav_panel li::before {
    font-size: 10px;
  }
}
@media all and (max-width: 400px) {
  .nav_panel a {
    font-size: 10px;
  }
}
@media all and (max-width: 350px) {
  .nav_panel a {
    font-size: 8px;
  }
}

.logo, .logo__img {
  margin-top: 2.65rem;
  width: 12.5rem;
  height: 3.125rem;
}
@media all and (max-width: 1150px) {
  .logo, .logo__img {
    width: 9.5rem;
  }
}
@media all and (max-width: 1036px) {
  .logo, .logo__img {
    order: 1;
    width: 50%;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 525px) {
  .logo, .logo__img {
    width: 8rem;
  }
}
@media all and (max-width: 360px) {
  .logo, .logo__img {
    width: 7rem;
  }
}

.img--margin {
  margin: 0px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-weight: bold;
  background-color: #DB8876;
  width: 170px;
  height: 30px;
  top: 6px;
  margin: auto;
  left: 0;
  right: 0;
  display: none;
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  width: 30%;
  margin-top: 30px;
}
@media all and (max-width: 1002px) {
  .card {
    width: 50%;
  }
}
@media all and (max-width: 620px) {
  .card {
    width: 100%;
  }
}
.card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__vignette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  text-decoration: none;
}
.card__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 195px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 12px #C4C4C4;
}
.card__name {
  font-weight: normal;
  font-size: 36px;
  margin-bottom: inherit;
  margin-top: 15px;
  line-height: 47px;
  text-align: center;
  color: #D3573C;
}
.card__location {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: inherit;
  margin-top: 3px;
  line-height: 17px;
  text-align: center;
  color: #901C1C;
}
.card__quote {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  margin-bottom: inherit;
  margin-top: 3px;
  color: #000000;
}
.card__price {
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 3px;
  color: #757575;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  padding-right: 30px;
  padding-top: 0px;
  margin-top: 30px;
  background: #FAFAFA;
  border-radius: 5px;
  margin-left: 80px;
  margin-right: 80px;
}
@media all and (max-width: 925px) {
  .panel {
    background: #FFFFFF;
    margin-top: 0px;
  }
}
@media all and (max-width: 645px) {
  .panel {
    padding-right: 0px;
  }
}
@media all and (max-width: 550px) {
  .panel {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.panel--split {
  width: 60%;
}
@media all and (max-width: 820px) {
  .panel--split {
    width: 40%;
  }
}
.panel__description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
  flex-direction: column;
  margin-top: 50px;
}
@media all and (max-width: 670px) {
  .panel__description {
    margin-top: 0px;
  }
}
.panel__name {
  font-weight: normal;
  font-size: 55px;
  margin-bottom: inherit;
  margin-top: 15px;
  line-height: 83px;
  text-align: left;
  color: #D3573C;
}
@media all and (max-width: 1350px) {
  .panel__name {
    font-size: calc(55px * 0.70);
    margin-top: calc(15px * 0.70);
    line-height: calc(83px * 0.70);
  }
}
@media all and (max-width: 670px) {
  .panel__name {
    font-size: calc(55px * 0.60);
    margin-top: calc(15px * 0.60);
    line-height: calc(83px * 0.60);
    margin-top: 0px;
  }
}
@media all and (max-width: 380px) {
  .panel__name {
    font-size: calc(55px * 0.50);
    margin-top: calc(15px * 0.50);
    line-height: calc(83px * 0.50);
  }
}
.panel__location {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: inherit;
  margin-top: 3px;
  line-height: 31px;
  text-align: left;
  color: #901C1C;
}
@media all and (max-width: 1350px) {
  .panel__location {
    font-size: calc(24px * 0.70);
    margin-top: calc(3px * 0.70);
    line-height: calc(31px * 0.70);
  }
}
@media all and (max-width: 670px) {
  .panel__location {
    font-size: calc(24px * 0.60);
    margin-top: calc(3px * 0.60);
    line-height: calc(31px * 0.60);
  }
}
@media all and (max-width: 380px) {
  .panel__location {
    font-size: calc(24px * 0.50);
    margin-top: calc(3px * 0.50);
    line-height: calc(31px * 0.50);
  }
}
.panel__quote {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 5px;
  margin-top: 3px;
  color: #525252;
}
@media all and (max-width: 1350px) {
  .panel__quote {
    font-size: calc(18px * 0.70);
    margin-top: calc(3px * 0.70);
    line-height: calc(23px * 0.70);
  }
}
@media all and (max-width: 670px) {
  .panel__quote {
    font-size: calc(18px * 0.60);
    margin-top: calc(3px * 0.60);
    line-height: calc(23px * 0.60);
  }
}
@media all and (max-width: 380px) {
  .panel__quote {
    font-size: calc(18px * 0.50);
    margin-top: calc(3px * 0.50);
    line-height: calc(23px * 0.50);
  }
}
.panel__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 11px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background: #911C1C;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
  width: 30%;
}
@media all and (max-width: 1225px) {
  .panel__btn {
    font-size: 15px;
  }
}
@media all and (max-width: 1095px) {
  .panel__btn {
    font-size: 12px;
  }
}
@media all and (max-width: 1030px) {
  .panel__btn {
    position: fixed;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media all and (max-width: 820px) {
  .panel__btn {
    font-size: x-small;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media all and (max-width: 645px) {
  .panel__btn {
    font-size: xx-small;
  }
}
@media all and (max-width: 360px) {
  .panel__btn {
    font-size: 6px;
  }
}
.panel__btn:hover {
  color: #000000;
  background: #DB8876;
}
.panel__btn:focus {
  color: #000000;
  background: #DB8876;
}

.margin {
  margin-left: 45px;
  margin-top: 0;
}
@media all and (max-width: 925px) {
  .margin {
    margin-left: 0px;
  }
}
@media all and (max-width: 850px) {
  .margin {
    margin-right: 0px;
    padding-right: 0px;
    width: auto;
  }
}

.image__panel {
  display: flex;
  align-self: center;
  width: 175px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media all and (max-width: 850px) {
  .image__panel {
    margin-top: 0;
    width: 150px;
    height: 150px;
  }
}
@media all and (max-width: 670px) {
  .image__panel {
    width: 100px;
    height: 100px;
  }
}
@media all and (max-width: 400px) {
  .image__panel {
    width: 75px;
    height: 75px;
  }
}
@media all and (max-width: 350px) {
  .image__panel {
    width: 65px;
    height: 65px;
  }
}
/*# sourceMappingURL=main.css.map *//*# sourceMappingURL=main.css.map */