/* .slideInUp{
    @for $i from 1 through 4 {
        &--#{$i} {
            animation:slideInUp 1s both;
            animation-delay: 0.2s*$i;
        }
    }
}
.imageGenerator{
    @for $i from 1 through length($restaurants) {
        &__#{nth($restaurants,$i)}{
        background-image: url('../images/restaurants/bg-' + nth($restaurants,$i) + '.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        }
    }
} */